DJANGO_SECRET_KEY=replace-this-with-a-generated-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=.vercel.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.vercel.app
DJANGO_SUPERUSER_USERNAME=admin@1o1rowc
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=M4a1..,.,.,@
